@font-face {
  font-family: "Reillex";
  src: url(font/reillexpu.ttf) format('truetype');
}

@font-face {
  font-family: "ComicNeue";
  src: url(font/ComicNeue-Light.ttf) format('truetype');
}

body{
  background: #FFFACD;
  position: relative;
 }

body,
option,
select,
input{
   font-family: "ComicNeue";
 }

.header{
  background-color: black;
  background-image: url("images/iFrigo_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 12%;
  text-align: center;
  font-weight: 1;
}

h1{
  color: white;
  letter-spacing: -2px;
  font-style: normal;
}

.contenuDuFrigo{
  padding-top: 8%;
}

ul {
  list-style-type: circle;
}

footer{
  font-family: "Reillex";
  width: 100%;
	text-align: center;
	color:#F08080;
	background-color:#26627c;
}
