@font-face{
  font-family: "Open Sans";
  font-weight: 400;
  src: url('font/open-sans') format('woff');
}

body{
  background: #FFFACD;
  position: relative;
 }

body,
option,
select,
input{
   font-family: "Arial", "Open Sans", "Ubuntu", "Arial";
 }

.header{
  background-color: black;
  background-image: url("images/iFrigo_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 12%;
  text-align: center;
}

h1{
  color: #A52A2A;
  letter-spacing: -2px;
  font-style: normal;
}

.contenuDuFrigo{
  padding-top: 12%;
}

ul {
  list-style-type: circle;
}

footer{
      width: 100%;
			text-align: center;
			color:#F08080;
			background-color:#26627c;
		}
