/* Fonts */
@font-face {
  font-family: "Reillex";
  src: url(font/reillexpu.ttf) format('truetype');
}

@font-face {
  font-family: "ComicNeueL";
  src: url(font/ComicNeue-Light.ttf) format('truetype');
}

@font-face {
  font-family: "ComicNeue";
  src: url(font/ComicNeue-Regular.ttf) format('truetype');
}

/* General */
body{
  background: #B1EEDA;
  position: relative;
  padding-left: 8px;
 }

body,option,select,input{font-family: "ComicNeue", "Arial";}

.header{
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: black;
  background-image: url("images/iFrigo_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: white;
  font-weight: 1;
  font-family: "ComicNeueL";
  border-radius: 10px 10px 10px 10px;
}

footer{
  font-family: "Reillex";
  width: 100%;
  text-align: center;
  color:#F08080;
  background-color:#26627c;
}

h1{
  color: #B1EEDA;
  letter-spacing: -2px;
  font-style: normal;
}

p, form{margin-left: 8px}
th{font-family: "ComicNeue";}
td{text-align: center;}
ul{list-style-type: circle;}

div:not(.header):not(.supprimerUnProduit){
  border-bottom: dashed;
  border-spacing: 5;
  border-width: 3px;
}

table{
  border: solid 10px;
  border-radius: 5px 5px 5px 5px;
}

.contenuDuFrigo{
  position: relative;
  padding-left: 20px;
  margin: 0 auto;
  width: 250px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.choix{margin-top: 3%;}
.supprimerUnProduit{padding-bottom: 3%;}

/* Buttons */
.button{
  background-color: white;
  border-style: dotted;
  border-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.button:hover{
  background-color: black;
  color: white;
  border-color: white;
}

.contenuFO{background-image: url("images/icone-liste.png");}
.contenuFO:hover{background-image: url("images/icone-liste_white.png");}
.contenuFF{background-image: url("images/icone-frigo.png");}
.contenuFF:hover{background-image: url("images/icone-frigo_white.png");}
.contenuAjouterProduit{background-image: url("images/icone-caddie.png");}
.contenuAjouterProduit:hover{background-image: url("images/icone-caddie_white.png");}
.contenuRecherche{background-image: url("images/icone-recherche.png");}
.contenuRecherche:hover{background-image: url("images/icone-recherche_white.png");}
.contenuMangerUn{background-image: url("images/icone-couverts.png");}
.contenuMangerUn:hover{background-image: url("images/icone-couverts_white.png");}
.contenuMangerTout{background-image: url("images/icone-repas.png");}
.contenuMangerTout:hover{background-image: url("images/icone-repas_white.png");}

.boutonContenu{text-align: center;}
